<section class="business">
  <div class="container">
    <div class="business__wrapper">
      <h2 class="title title--center business__title">
        Grow Your Business With
        SakaAgency
      </h2>
      <button class="btn-reset btn business__btn">
        <a href="#">Contact Us</a>
      </button>
      <div class="business__content">
        <div class="business__content-item">
          <div class="business__number">100+</div>
          <div class="business__subtitle">Happy Customer</div>
        </div>

        <div class="business__content-item">
          <div class="business__number">100+</div>
          <div class="business__subtitle">Project Completed</div>
        </div>

        <div class="business__content-item">
          <div class="business__number">40+</div>
          <div class="business__subtitle">Awards Won</div>
        </div>
      </div>
    </div>
  </div>
</section>
