<section class="customer">
  <div class="container">
    <div class="customer__inner">
      <div class="customer__content-left">
        <h2 class="title title--left customer__content-title">
          <span>Our Customer</span>
          Say
        </h2>
        <p class="customer__content-left--descr">
          Feedback from our happy customers helps us in reaching the top
        </p>

      </div>
      <div class="customer__content-right">
        <div class="customer__content-profile">
          <img class="customer__content-profile--avatar" src="img/jackson.jpg" alt="mr.jackson">
          <div class="customer__content-profile--box">
            <h5 class="customer__content-profile--title">Mr. Jackson</h5>
            <p class="customer__content-profile--descr">CEO of ABD Group</p>
          </div>
        </div>
        <p class="customer__content-quote">
          Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum dolor
          amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum dolor amet, consectetur
          adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum dolor amet, consectetur adipiscing elit.
          Mattis et sed nam sem tellus erat.
        </p>
      </div>
    </div>
  </div>
</section>
