<footer class="footer">

  <div class="container footer__inner">

    <div class="footer__inner">

      <div class="footer__item footer__item-copy">
        <a class="logo" href="#">
          <img class="footer__logo" src="img/footer-logo.svg" alt="saka agency logo">
        </a>
        <p class="footer__copy">
          <span>Copyright © 2021 SakaAgency</span>
          All Right Reserver
        </p>
        <ul class="footer__socmed-list">

          <li class="footer__socmed-item">
            <a class="footer__socmed-link" href="#">
              <img src="img/instagr.svg" alt="link at instagram">
            </a>
          </li>
          <li class="footer__socmed-item">
            <a class="footer__socmed-link" href="#">
              <img src="img/bascket.svg" alt="link at social group">
            </a>
          </li>
          <li class="footer__socmed-item">
            <a class="footer__socmed-link" href="#">
              <img src="img/youtube.svg" alt="link at youtube">
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__item footer__item-comp ">
        <h6 class="footer__title">Company</h6>
        <ul class="list-reset footer__list">
          <li class="footer__text">
            <a class="footer__link" href="#">
              About Us
            </a>
          </li>
          <li class="footer__text">
            <a class="footer__link" href="#">
              Project
            </a>
          </li>
          <li class="footer__text">
            <a class="footer__link" href="#">
              Pricing
            </a>
          </li>
          <li class="footer__text">
            <a class="footer__link" href="#">
              Career
            </a>
          </li>
          <li class="footer__text">
            <a class="footer__link" href="#">
              Testimonial
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__item footer__item-sup">
        <h6 class="footer__title">Support</h6>
        <ul class="list-reset footer__list">
          <li class="footer__text">
            <a class="footer__link" href="#">
              FAQ
            </a>
          </li>
          <li class="footer__text">
            <a class="footer__link" href="#">
              Privacy Policy
            </a>
          </li>
          <li class="footer__text">
            <a class="footer__link" href="#">
              Term and Conditions
            </a>
          </li>
          <li class="footer__email">
            <a class="footer__link" href="mailto:halo@sakaagency.studio">
              halo@sakaagency.studio
            </a>
          </li>
          <li class="footer__phone">
            <a class="footer__link" href="tel:0221234567">
              022-123-4567
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__item footer__item-touch">

        <h6 class="footer__title">Get In Touch</h6>

        <form class="footer__form" action="#">
          <input class="footer__form-input" type="email" placeholder="Your email address" required>
          <button class="footer__form-btn" type="submit">
            <img class="footer__btn" src="img/btn.svg" alt="">
          </button>
        </form>
      </div>
    </div>
  </div>
</footer>
