<section class="founder">
  <div class="container">
    <h2 class="title title--center">
      Meet The Founder
    </h2>

    <div class="founder__inner">

      <div class="founder__inner-left--block">

        <div class="founder__inner-item--topl">

          <div class="founder__inner-item--textl">
            <h5 class="founder__inner-item--name">Jhon Doe</h5>
            <p class="founder__name-descr">A visioner, and tech-product design guy.</p>
          </div>
          <div class="founder__inner-item--imgl">
            <img class="founder__inner-item--left" src="img/jhondoe.jpg" alt="">
          </div>
        </div>
        <div class="founder__inner-item--bottoml">
          <div class="founder__inner-item--textll">
            <h5 class="founder__inner-item--name">Jhon Key</h5>
            <p class="founder__name-descr">Lead UI/UX Designer, loves design and build website</p>
          </div>
          <div class="founder__inner-item--imgl">
            <img class="founder__inner-item--leftd" src="img/jhonkey.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="founder__inner-right founder__inner-right--block">
        <div class="founder__inner-item--topr">

          <div class="founder__inner-item--textr">
            <h5 class="founder__inner-item--name">Doe Jhon</h5>
            <p class="founder__name-descr">A tech guy, expert in MERN Stack and Server Side</p>
          </div>
          <div class="founder__inner-item--imgr">
            <img class="founder__inner-item--right" src="img/doejhon.jpg" alt="">
          </div>
        </div>
        <div class="founder__inner-item--bottomr">
          <div class="founder__inner-item--textrr">
            <h5 class="founder__inner-item--name">Kekey</h5>
            <p class="founder__name-descr">Lead Researcher, loves data and human-centered design</p>
          </div>
          <div class="founder__inner-item--imgr">
            <img class="founder__inner-item--rightd" src="img/kekey.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>