<section class="hero">

  <div class="container hero__container" style="background-image: url('img/hero-bg.jpg');">

    <div class="hero__content">

      <h1 class="title title--main"><span>Digital Agency,</span>We Create Experiences.</h1>
      <p class="main__descr">
        Let’s Create an Amazing Website To Help Your Showcase And Make Up<span>Your Business!</span>
      </p>
      <button class="btn-reset btn">
        <a href="#">Contact Us</a>
      </button>
    </div>
  </div>
</section>
