<section class="project">
  <div class="container">
    <div class="project__inner">
      <h2 class="title title--left">
        <span>The Best</span>
        Amazing Project
      </h2>
      <a class="project__view" href="#">
        View All
        <img class="project__view-img" src="img/arrow-read.svg" alt="arrow">
      </a>
    </div>

    <div class="project__img">
      <img class="project__img-item" src="img/choose.jpg" alt="view all project">
      <img class="project__img-item" src="img/sorry.jpg" alt="view all project">
      <img class="project__img-item" src="img/vaksin.jpg" alt="view all project">
      <img class="project__img-item" src="img/forget.jpg" alt="view all project">
    </div>
  </div>
</section>
