<section class="services">

  <div class="container">

    <h2 class="title title--center">
      Our Specialization can
      help your problem
    </h2>

    <div class="services__content">

      <div class="services__content-item--branding">
        <div class="services__content-title">
          Branding
        </div>
        <div class="services__content-descr">
          Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
        </div>
        <a class="services__content-link" href="#">
          Read More
          <img class="services__content-img" src="img/arrow-read.svg" alt="">
        </a>
      </div>

      <div class="services__content-item--mobile">
        <div class="services__content-title">
          Mobile Apps
        </div>
        <div class="services__content-descr">
          Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
        </div>
        <a class="services__content-link" href="#">
          Read More
          <img class="services__content-img" src="img/arrow-read.svg" alt="">
        </a>
      </div>

      <div class="services__content-item--commerce">
        <div class="services__content-title">
          E-commerce
        </div>
        <div class="services__content-descr">
          Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
        </div>
        <a class="services__content-link" href="#">
          Read More
          <img class="services__content-img" src="img/arrow-read.svg" alt="">
        </a>
      </div>

      <div class="services__content-item--human">
        <div class="services__content-title">
          Human Resources
        </div>
        <div class="services__content-descr">
          Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
        </div>
        <a class="services__content-link" href="#">
          Read More
          <img class="services__content-img" src="img/arrow-read.svg" alt="">
        </a>
      </div>

      <div class="services__content-item--learning">
        <div class="services__content-title">
          Learning Management
        </div>
        <div class="services__content-descr">
          Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
        </div>
        <a class="services__content-link" href="#">
          Read More
          <img class="services__content-img" src="img/arrow-read.svg" alt="">
        </a>
      </div>

      <div class="services__content-item--design">
        <div class="services__content-title">
          UI/UX Design
        </div>
        <div class="services__content-descr">
          Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
        </div>
        <a class="services__content-link" href="#">
          Read More
          <img class="services__content-img" src="img/arrow-read.svg" alt="">
        </a>
      </div>




    </div>
  </div>
</section>
