html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  background-color: #12141d;
}

section {
  padding: 50px 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.title {
  margin: 0;
  font-weight: 800;
  font-size: 50px;
  line-height: 70px;
  color: #fff
}

.btn {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  padding: 13px 28px;
  background-color: #4080BF;
  border-radius: 10px;
  color: #fff;
  position: relative;
}

span {
  display: block;
}
